.project_wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: #868686;
    font-family: 'Inter', sans-serif;

    h2 {
        margin-bottom: 20px;
        padding-left: 30px;
        color: #2C2C2C;
        font-size: 26px;
    }
}

.project {
    display: flex;
    justify-content: space-between;
    background-color: #F6F6F6;
    border-radius: 40px;
    padding: 30px 40px;

    .left_col {
        width: 42%;

        .img_wrapper {
            width: 100%;
            margin-bottom: 10px;

            img {
                width: 100%;
            }
        }

        .participants ul {
            margin: 5px 0 15px;
            padding-left: 30px;
        }

        .mark {
            span {
                margin-top: 5px;
                display: block;
                font-weight: bold;
            }
        }
    }

    .right_col {
        width: 52%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        h3 {
            color: #2C2C2C;
            font-size: 20px;
        }

        button {
            display: block;
            width: 100%;
            max-width: 180px;
            height: 40px;
            cursor: pointer;
            color: white;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #EA1D24;
            outline: none;
            border: none;
            border-radius: 30px;
            font-family: 'Inter', sans-serif;
        }

        .description {
            margin-bottom: 20px;
        }
    }
} 

.btn_mark {
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 180px;
    height: 40px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FFD700;
    outline: none;
    border: none;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
}