.profile_wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: #2C2C2C;

    h2 {
        padding-left: 20px;
        margin-bottom: 20px;
        font-size: 26px;
    }

    .profile {
        padding: 30px 60px;
        border-radius: 30px;
        background-color: #F6F6F6;
        display: flex;
        justify-content: space-between;

        .img_wrapper {
            width: 70%;
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }

        .input_info {
            margin-bottom: 15px;
            font-weight: bold;

            div:first-child {
                margin-bottom: 5px;
                font-size: 12px;
                font-weight: 300;
            }
        }

        .balance {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;

            .balance_info {
                text-align: end;

                div {
                    margin-bottom: 5px;
                    padding-right: 15px;
                    font-size: 15px;
                }

                span {
                    font-size: 18px;
                    font-weight: bold;
                    padding-right: 4px;
                }

                img {
                    cursor: pointer;
                    position: relative;
                    top: 2px;
                }
            }

            .balance_btn {
                button {
                    width: 100%;
                    max-width: 160px;
                    height: 40px;
                    cursor: pointer;
                    color: #F6F6F6;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: bold;
                    background-color: #EA1D24;
                    outline: none;
                    border: none;
                    border-radius: 30px;
                    font-family: 'Inter', sans-serif;
                }
                
                button:first-child {
                    max-width: 220px;
                    margin-right: 60px;
                    background-color: #FFD700;
                }
            }
        }
    }
}

.wrapper_btn {
    margin: 40px auto;
    display: flex;
    justify-content: space-around;

    button {
        width: 45%;
        height: 50px;
        cursor: pointer;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #EA1D24;
        outline: none;
        border: none;
        border-radius: 30px;
        font-family: 'Inter', sans-serif;
    }

    button:first-child {
        background-color: #868686;
    }
}

.projects_wrapper {
    margin-bottom: 40px;
    
    h3 {
        font-size: 22px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .projects {
        border-radius: 30px;
        background-color: #F6F6F6;
        text-align: center;
        width: 100%;

        p {
            width: 100%;
            max-width: 310px;
            margin: 0 auto;
            padding: 80px 0;
            color: #868686;
        }
    }
}

.customization {
    box-sizing: content-box;
    right: 20%;
    position: absolute;
    width: 100%;
    max-width: 200px;
    padding: 20px 15px 20px 15px;
    font-size: 13px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    background-color: #a5a4a4;
    border-radius: 30px;
    text-align: center;

    p:first-child {
        margin-bottom: 10px;
    }
}