.container {
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
}

.navbar {
    position: relative;
    max-height: 20vh;
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    text-transform: uppercase;
    color: #2C2C2C;
    font-family: 'Inter', sans-serif;
    z-index: 4;

    .title {
        font-size: 32px;
        width: 100%;
        max-width: 420px;
        line-height: 36px;
        font-weight: bold;

        span {
            font-size: 27px;
            letter-spacing: 0.5px;
        }
    }

    .log_btn {
        width: 100%;
        max-width: 140px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #E6E6E6;
        border-radius: 30px;
        cursor: pointer;
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));

        span {
            display: block;
            font-size: 20px;
            font-weight: bold;
        }

        img {
            display: block;
        }
    }
}